spirit_of_laws_schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
start = element SOL {title, book, text}
title = element title {text}
book = element book {(text | heading | chapter | subheading)}

heading = element heading {(text | chapter | subheading)}
chapter = element chapter {(text | subheading)}
subheading = element subheading {(text)}
